# Eat Safe, Love

## Notebook Set Up

In [12]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [13]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [14]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [15]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [16]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [17]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print (f'Documents for query {query} : {count}')

# Display the first document in the results using pprint
results = list(establishments.find(query))
if count >0:
    pprint(results[0])

Documents for query {'scores.Hygiene': 20} : 0

In [18]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the DataFrame: {len(df)}')

# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [19]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex': 'London'}, 
         'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print (f'Documents for query {query} : {count}')

# Display the first document in the results using pprint
results = list(establishments.find(query))
if count >0:
    pprint(results[0])

Documents for query {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue': {'$gte': 4}} : 0

In [20]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the DataFrame: {len(df)}')

# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [21]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

center = establishments.find_one({'BusinessName': 'Penang Flavours'})

degree_search = 0.01
latitude = float(center['geocode']['latitude'].to_decimal())
longitude = float(center['geocode']['longitude'].to_decimal())

query = {'RatingValue': 5,
         'geocode.latitude': {'$gte': latitude-degree_search, '$lte': latitude+degree_search},
         'scores.Hygiene':{'$ne':None}
        }
sort = {'scores.Hygiene':1}
limit = 5

# Print the results
count = establishments.count_documents(query, limit=limit)
print(f'Documents for query {query}, limit {limit}: {count}')

results = list(establishments.find(query, sort=sort, limit=limit))
for result in results:
    pprint(result)

Documents for query {'RatingValue': 5, 'geocode.latitude': {'$gte': 51.480142, '$lte': 51.500142}, 'scores.Hygiene': {'$ne': None}}, limit 5: 0

In [22]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(results)
df.head(10)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [23]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': {'$eq': 0}}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}
sort_query = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_query]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
pirnt (f"Results: {len(results)}")

# Print the first 10 results
for i in range(min(10, len(results))):
    pprint(results[i])

NameError: name 'pirnt' is not defined

In [ ]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f'Number of rows in the DataFrame: {len(df)}')

# Display the first 10 rows of the DataFrame
df.head(10)